@charset "UTF-8";


/* Reset some default styles for the header */
body {
    margin: 0;
    padding: 0;
}

/* Style for the header container */
header {
    background-color: rgb(255, 255, 255); /* Background color for the header */
    color: #fff; /* Text color for the header */
    padding: 10px 0; /* Add padding to the top and bottom */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the logo image */
header img {
    width: 170px;
    height: 50px;
}

/* Style for the navigation menu */
#menulist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: right;
    align-content: right;
}

#menulist li {
    margin-right: 20px; 
    align-items: right;
    align-content: right;
    
    
}

/* Style for the links in the menu */
#menulist a {
    text-decoration: none;
    color: rgb(0, 0, 0); 
    font-size: 20px;
    align-items: right;
    align-content: right;
    
    }

/* Style for the "BOOK NOW" button */
.primary-btn {
    background-color: #7fc142; /* Choose your desired button color */
    color: #fff; /* Text color for the button */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}




 